body{
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
} 

button{
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.5rem;
  box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}

button:hover{
  box-shadow:
    0 10px 15px -3px #488aec4f,
    0 4px 6px -2px #488aec17;
}

#boards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.board{
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 2px;
}
  
.cell{
    background: lightblue;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}

.ship{
    background-color: green;
}